body{
  display: flex;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
          
          background-color: #161616;
        font-weight: bold;
       padding: 0;
       margin: 0;
         backdrop-filter: blur(5px);
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         background-image: url(backgmain.jpg);
         
}
img{
position: absolute;
z-index: -1;
width: 100%;
height: 100vh;


}
option{
  color: black;
}
form{
  

 
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

padding: 100px 50px;
gap:50px;
border: 2px solid white;
border-radius: 100px;
background-color:transparent;




}
a{
  text-decoration: none;
  color: white;
  font-weight: bold;
 transition: 0.5s;
  font-size: 1.2em;
}





.userP{
  position: absolute;
  top: -40px;
  left: 0;
  color: white;
  

}
.passP{
  position: absolute;
  left: 0;
  top: -40px;
  color: white;

}
.user-div , .pass-div{
  position: relative;
}
.UI{
  
  outline: none;
  background-color: transparent;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  width:310px;
  height: 1.8em;
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 2.2px;
}
.firstname,.lastname{
  
  outline: none;
  background-color: transparent;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  width:147px;
  height: 1.8em;
  font-size: 18px;
  margin-bottom: 7px;
  color: white;
}

.first-last-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  
  
}
.Signup-div{
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 30px;

}
.book{


background-color: white;
border: none;
border-radius: 20px;
width: 310px;
height: 43px;
font-weight: bold;

cursor: pointer;
font-size: 1.3em;


transition: 0.7s;


}

.book:active{
  transform: scale(0.9);
  transition: 0.7s;
}
.book:hover{
  background-color: rgb(24, 23, 16);
  transition: 0.7s;
  color: white;
  box-shadow: 0 0 20px rgb(138, 137, 135) , 0 0 30px rgb(234, 232, 220) , 0 0 30px rgb(213, 211, 200);
  
}









/* Back */














.butt-cancel{
  font-size: 20px;
  padding: 10px 12px;
 
  width: 50%;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
 transition: 0.2s;
opacity: 0.5;
}
a{
  position: sticky;
  display: block;
  text-align: center;
  margin-top: 20px;
  


  
}
.butt-cancel:hover{
  
transition: 0.2s;
  opacity: 1;

}