body{
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-color: transparent;
    
    color: white;
   
}
main{
    
    
    position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color:transparent;
 border: 1px solid white;
 padding: 40px;
 gap:30px;
backdrop-filter: blur(4px);
border-radius: 15px;

}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
   
    font-size: 1.2em;
}
.before{
    display: flex;
    gap: 5em;
    align-items: center;
    color:white;
    font-weight: bold;
    font-size: 17px;
    
}

.rememberr{
    cursor: pointer;
    user-select: none;
 
    
}

label{
    cursor: pointer;
}
.input-div{
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 25px;
 position: relative;
    
}
.userP{
    position: absolute;
    top: -40px;
    left: 0;
    color: white;
    

}
.passP{
    position: absolute;
    left: 0;
    top: -40px;
    color: white;

}
.user-div , .pass-div{
    position: relative;
}
.UI{
    
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    width:300px;
    height: 1.8em;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}
.Signin-div{
    font-size: 2em;
    color: white;
    font-weight: bold;
    
  
    

}
.Signin-butt{


background-color: white;
border: none;
border-radius: 20px;
width: 310px;
height: 43px;
font-weight: bold;

cursor: pointer;
font-size: 1.3em;
transition:0.5s;



}


.Signin-butt:active{
    transform: scale(0.9);
    transition:0.7s;
}
.Signin-butt:hover{
    background-color: rgb(24, 23, 16);
    transition: 0.7s;
    color: white;
   box-shadow: 0 0 20px rgb(138, 137, 135) , 0 0 30px rgb(234, 232, 220) , 0 0 30px rgb(213, 211, 200);
    
  }