body{
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-color: #161616;
    border: none;
    
    color: white;
   
}
img{
    position: absolute;
   z-index: -1;
    width: 100%;
    height: 100vh;

    
}
main{
    
    
    
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 background: linear-gradient(to bottom right, rgb(91, 87, 87), rgb(0, 0, 0));
 
 border: 1px solid white;
 padding: 50px;
 box-shadow: 0px 0px 50px rgb(179, 146, 146),0px 0px 80px rgb(1, 1, 1),0px 0px 100px rgb(56, 53, 53);

 gap:30px;

border-radius: 15px;

}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
   
    font-size: 1.2em;
}
.before{
    display: flex;
    gap: 5em;
    align-items: center;
    color:white;
    font-weight: bold;
    font-size: 17px;
    
}

.rememberr{
    cursor: pointer;
    user-select: none;
 
    
}

label{
    cursor: pointer;
}
.input-div{
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 25px;
 position: relative;
    
}
.userP,
.passP {
    position: absolute;
    font-size: 1.2em;
    left: 22px;
    top: -10px;
    color: rgb(196, 189, 189);
    pointer-events: none;
    transition: top 0.4s ease-out, left 0.4s ease-out,font-size 1s linear;
}

input:focus + .passP,
input:valid + .passP  {
    top: -40px;
    left: 5px;
    font-size: 1em;
    
    
    transition: top 0.4s ease-out, left 0.4s ease-out,font-size 0.4s linear;
}
.fa-lock,.fa-user,.fa-arrow-right-from-bracket{
    color: white;
    position: absolute;
    
    right: 18px;
    top: 12px;
    
    pointer-events: none;
    
}

.fa-arrow-right-from-bracket{
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 1.5em;
    right: 100px;
    top: 10px;
    transition: 0.7s;
    pointer-events: none;
    
}

input:focus + .userP,
input:valid + .userP {
    top: -40px;
    left: 5px;
    font-size: 1em;
    
    
    transition: top 0.4s ease-out, left 0.4s ease-out,font-size 0.4s linear;
}



.user-div , .pass-div{
    position: relative;
}
.UI{
    
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    width:300px;
    height: 2.2em;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}
.Signin-div{
    font-size: 2em;
    color: white;
    font-weight: bold;
    
  
    

}
.Signin-butt{


background-color: white;
border: none;
border-radius: 20px;
width: 310px;
height: 43px;
font-weight: bold;
padding-right: 20px;
cursor: pointer;
font-size: 1.3em;
transition:0.2s;



}


.Signin-butt:active, .Signin-butt:active + .fa-arrow-right-from-bracket{
   
    transform: scale(1.05) rotate(-1deg);
    transition:0.2s;
}
.Signin-butt:hover {
    background-color: rgb(24, 23, 16);
    transition: 0.2s;
    color: white;
   box-shadow: 0 0 10px rgb(138, 137, 135) , 0 0 20px rgb(234, 232, 220)
  }
  .Signin-butt:hover,.Signin-butt:hover + .fa-arrow-right-from-bracket {
    color: white;
    transition: 0.2s;
   
  }